

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard"
                                    class="active">Dashboard</a></li>
                            <li><a href="/admin/create-blogs">Create Blogs</a></li>
                            <li><a href="/admin/display-blogs">Display Blogs</a></li>
                            <li><a href="/admin/create-category">Create Categroy</a></li>
                            <li><a href="/admin/display-category">Display Categroy</a></li>
                            <li><a href="/admin/create-about">About</a></li>
                            <li><a href="/admin/display-about">About Display</a></li>
                            <li><a href="/admin/display-contact">Contact Display</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
