<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>Cricket Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="/assets/js/bootstrap.bundle.min.js"></script>

        <!-- Custom styles for this template -->
        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark" style="background-color: #a0aab1;">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/logo.png" alt="Cricket Blog" style="height: 50px;
                    width: auto;"/>
                </a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="padding: 22px;
                            font-size: large;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about" style="padding: 22px;
                            font-size: large;">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact" style="padding: 22px;
                            font-size: large;">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog" style="padding: 22px;
                            font-size: large;">Blog</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-info" href="/login" class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>